.open {
    width: 150px;
    height: 25px;
    border: none;
    border-radius: 3px;
    background: #FC3636;
    color: white;
}
.cover {
  position: absolute;
  background: rgba(192,192,192, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-cont {
    background: white;
    min-width: 550px;
    min-height: 450px;
    padding: 0 15px 0 15px;
    border-radius: 5px;
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid #763FDB;

      .close {
        width: 25px;
        height: 25px;
        border-radius: 3px;
        background: #763FDB;
        border: none;
        color: #e2dede;
      }
    }
  }
}